# Data Science Tools And Ecosystem

## Author- Riju Koirala

### In this notebook, Data Science tools and ecosystem are summarized.

**Objectives**
-Python
-SQL
-Java
-R

# Some of the popular language that data scientists use are:
1. Python
2. R
3. Java
4. Julia

# Some of the commonly used libraries used by data scientists are:
1. Numpy
2. Pandas
3. Matplotlib
4. Visualization

|  Data Science Tools  |
|----------------------|
|    Apache Spark      |
|    Tensorflow        |
|    Tableau           |

# H3 : Below are a few examples of evaluating arithmetic expression in python.

In [ ]:
#This is a simple arithmetic expression to multiply then add a integer.

In [16]:
3 * 4

12

In [17]:
12 + 5

17

In [ ]:
#This will convert 200 minutes to hours by dividing by 60.

In [18]:
200 / 60

3.3333333333333335